{% extends "base.html" %} {% block title %}Student Dashboard{% endblock %} {%
block content %}

<div class="container mt-4">
  <div class="card shadow">
    <div class="card-header bg-success text-white">
      <h3>🎓 Student Dashboard</h3>
    </div>

    <div class="card-body">
      <h3>Welcome {{ student.name }} 👋</h3>

      <hr />

      <div class="row">
        <div class="col-md-4">
          {% if student.photo.startswith("http") %}

          <img
            src="{{ student.photo }}"
            class="img-fluid rounded"
            width="220"
          />

          {% else %}

          <img
            src="{{ url_for('static', filename='uploads/profile_pics/' + student.photo) }}"
            class="img-fluid rounded"
            width="220"
          />

          {% endif %}
        </div>

        <div class="col-md-8">
          <p><strong>Register No:</strong> {{ student.register_no }}</p>

          <p><strong>Department:</strong> {{ student.department }}</p>

          <p><strong>Year:</strong> {{ student.year }}</p>

          <p><strong>Section:</strong> {{ student.section }}</p>

          <p><strong>Email:</strong> {{ student.email }}</p>

          <p><strong>Attendance:</strong> {{ attendance_percentage }}%</p>

          <hr />

          <div class="list-group mt-3">
            <a
              href="{{ url_for('main.student_profile') }}"
              class="btn btn-primary"
            >
              👤 My Profile
            </a>

            <a
              href="{{ url_for('main.student_marks') }}"
              class="list-group-item list-group-item-action"
            >
              📝 My Marks
            </a>

            <a
              href="{{ url_for('main.student_attendance') }}"
              class="list-group-item list-group-item-action"
            >
              📅 My Attendance
            </a>

            <a
              href="{{ url_for('main.student_my_result') }}"
              class="list-group-item list-group-item-action"
            >
              📊 Result Summary
            </a>
            <a href="{{ url_for('main.student_notice') }}" class="btn btn-info">
              📢 Notice Board
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
