{% extends "base.html" %}

{% block title %}Weekly Timetable{% endblock %}

{% block content %}

<div class="container mt-4">

    <h2>📅 Weekly Timetable</h2>

    <a href="{{ url_for('main.add_timetable') }}"
       class="btn btn-success mb-3">

        ➕ Add Timetable

    </a>

    <table class="table table-bordered text-center">

        <thead class="table-dark">

            <tr>

                <th>Day</th>

                <th>Period 1</th>

                <th>Period 2</th>

                <th>Period 3</th>

                <th>Period 4</th>

                <th>Period 5</th>

                <th>Period 6</th>

            </tr>

        </thead>

        <tbody>

        {% for day in days %}

        <tr>

            <th class="table-secondary">

                {{ day }}

            </th>

            {% for p in ["1","2","3","4","5","6"] %}

            <td>

                {% if p in timetable_data[day] %}

                    <strong>

                        {{ timetable_data[day][p].subject.subject_name }}

                    </strong>

                    <br>

                    <small>

                        {{ timetable_data[day][p].teacher.name }}

                    </small>

                    <br>

                    <span class="text-primary">

                        {{ timetable_data[day][p].classroom }}

                    </span>

                    <br><br>

                    <a
                    href="{{ url_for('main.edit_timetable', id=timetable_data[day][p].id) }}"
                    class="btn btn-warning btn-sm">

                    Edit

                    </a>

                    <a
                    href="{{ url_for('main.delete_timetable', id=timetable_data[day][p].id) }}"
                    class="btn btn-danger btn-sm"
                    onclick="return confirm('Delete this timetable?')">

                    Delete

                    </a>

                {% else %}

                    -

                {% endif %}

            </td>

            {% endfor %}

        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}