{% extends "base.html" %} {% block title %}View Attendance{% endblock %} {%
block content %}

<div class="container mt-4">
  <h2>📋 View Attendance</h2>

  <form method="POST">
    <div class="row mb-3">
      <div class="col-md-5">
        <label>Subject</label>

        <select class="form-select" name="subject_id" required>
          {% for subject in subjects %}

          <option value="{{ subject.id }}">{{ subject.subject_name }}</option>

          {% endfor %}
        </select>
      </div>

      <div class="col-md-4">
        <label>Date</label>

        <input
          type="date"
          name="attendance_date"
          class="form-control"
          required
        />
      </div>

      <div class="col-md-3">
        <label>&nbsp;</label>

        <button class="btn btn-primary w-100">Search</button>
      </div>
    </div>
  </form>

  <hr />

  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Photo</th>
        <th>Register No</th>

        <th>Name</th>

        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      {% for attendance in attendance_list %}

      <tr>
        <td>
          <img
            src="{{ url_for('static',
        filename='uploads/students/' + attendance.student.photo) }}"
            width="45"
            height="45"
            class="rounded-circle"
          />
        </td>
        <td>{{ attendance.student.register_no }}</td>

        <td>{{ attendance.student.name }}</td>

        <td>
          {% if attendance.status=="Present" %}

          <span class="badge bg-success"> Present </span>

          {% else %}

          <span class="badge bg-danger"> Absent </span>

          {% endif %}
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex gap-3 mt-4">
    <a href="javascript:history.back()" class="btn btn-secondary"> ← Back </a>
  </div>
</div>

{% endblock %}
